
//Color Variables//

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$color-text: #777;

$button-color-default: $color-secondary;
$button-color-sucess: #63cc82;
$button-color-error: #e4757a;
$button-color-warning: #fd7856;
$button-color-info: #927bc1;


//Media Query Breakpoints//

$large-screens: 768px;