
/* ============================================= */
/*              Buttons                          */
/* ============================================= */


.btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn:hover {
  filter: brightness(150%);
  transition: ease-in-out .2s;
}
  
.default {
  background-color: $color-secondary;
}
  
.error {
  background-color: $button-color-error;
}
  
.info {
  background-color: $button-color-info;
}
  
.success {
  background-color: $button-color-sucess;
}
  
.warning {
  background-color: $button-color-warning;
}
  